<!--The whole content below can be removed with the new code.-->

<div>
  <app-address-list></app-address-list>
  <!-- <app-action-list></app-action-list>
  <app-update-list></app-update-list> -->
  <!-- 
    Firebase attempt failed
    <app-item-list></app-item-list>
  <app-item-form></app-item-form>
  <app-item-detail></app-item-detail> -->
</div>



<div class="row columns">
  <!-- 
  Default  
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="send($event.target.value)" [(ngModel)]="msgVal" />
  <div id="details-container">
      <p *ngFor="let item of items | async"><img src="../assets/pin.png">{{item.desc}}</p>
  </div> -->

  <!-- 
  Multiple Fields Attempt
    <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="field1" [(ngModel)]="msgVal" />
  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="field2" [(ngModel)]="msgVal1" />
  <button (keyup.enter)="send($event.target.value)" >Add</button>
  <div id="details-container">
      <p *ngFor="let item of items | async"><img src="../assets/pin.png">{{item.desc}}</p>
  </div> -->
</div>

